@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Patrick+Hand&display=swap');
* {
  box-sizing: border-box;
}

html{height: fit-content;
  margin: 0;  background: #111;scroll-behavior: smooth;}
body {font-family: 'Patrick Hand', cursive;
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  height: fit-content;
  margin: 0;
   background-image:url('img/bg.png');
}
a{text-decoration: none;}

body#fed{height: 80vh;}



/*FAID IN TRANSITIONS ON SCROLL*/

@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
   }
}

/*HEADER*/
header{padding:0 1em;margin:0 1em;}
nav{display: flex; justify-items: center;}
img.logo{width: 5em;}
header a{margin-left:auto;margin-right:auto; }
li{list-style: none;display: inline-block;}
section#intro{display: grid; grid-template-columns: repeat(2, 1fr);margin: 0 4em}
header.home{height: 100vh!important}

/*MAIN*/
main{margin: 3em 8em 6em 8em;}
section#aboutMe{left:0;height: 50vh;}

.cont {
text-align: center;
display: flex;
align-items: center;
justify-content: center;
height: 100%;
margin: -3em 2em;
}

div#text{margin-bottom:2em;border-radius:2em !important;height: fit-content !important;font-size: 1em;}
div#text h3{font-weight: 400;color: #4e4a67;}
div#text a{font-weight: 400;color:#686868;font-size: 1em;}
div#text a:hover{text-decoration: underline;}



.heading {
color: #eee;
font-size: 5rem;
font-weight: 300;
text-transform: uppercase;
}


/*ARROWS*/
.arrows {
width: 60px;
height: 72px;
position: absolute;
left: 50%;
margin-left: -30px;
bottom: 20px;
}

.arrows path {
stroke: #2994D1;
fill: transparent;
stroke-width: 1px;  
animation: arrow 2s infinite;
-webkit-animation: arrow 2s infinite; 
}

@keyframes arrow
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

@-webkit-keyframes arrow /*Safari and Chrome*/
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

.arrows path.a1 {
animation-delay:-1s;
-webkit-animation-delay:-1s; /* Safari 和 Chrome */
}

.arrows path.a2 {
animation-delay:-0.5s;
-webkit-animation-delay:-0.5s; /* Safari 和 Chrome */
}

.arrows path.a3 { 
animation-delay:0s;
-webkit-animation-delay:0s; /* Safari 和 Chrome */
}


/*smooth transition on scroll*/


.container {

max-width: 50%;
width: 95%;
margin: 0 auto;
}

h3{padding: 2em;}

.scroll-container {
padding: 2rem 1rem;
display: flex;
align-items: center;
box-sizing: border-box;
}



.scroll-container:nth-of-type(even) {
flex-direction: row-reverse;
}

.scroll-element,
.scroll-caption {
width: 50%;
}

.scroll-element {

height: 100%;
background-color: #eaeaea;
}



@media screen and (max-width: 650px) {
.scroll-container,
.scroll-container:nth-of-type(even) {
  flex-direction: column;
  align-content: inherit;
}

.scroll-element {
  height: 100%;
}

.scroll-element,
.scroll-caption {
  width: 100%;
}
}
/**Styling scrollable elements*/

.js-scroll {
opacity: 0;
transition: opacity 900ms;
}

.js-scroll.scrolled {
opacity: 1;
}

.scrolled.fade-in {
animation: fade-in 1s ease-in-out both;
}

.scrolled.fade-in-bottom {
animation: fade-in-bottom 1s ease-in-out both;
}



/* ----------------------------------------------
* Generated by Animista on 2021-2-11 23:32:31
* Licensed under FreeBSD License.
* See http://animista.net/license for more info. 
* w: http://animista.net, t: @cssanimista
* ---------------------------------------------- */



@keyframes fade-in-bottom {
0% {
  -webkit-transform: translateY(50px);
  transform: translateY(50px);
  opacity: 0;
}
100% {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
}
}

@keyframes fade-in {
0% {
  opacity: 0;
}
100% {
  opacity: 1;
}
}


/*Modules cards slider*/


section.projects{  display: flex;
align-items: center;
justify-content: flex-end;height: 50vh;}



.card {
position: relative;
height: 21.8em;
width: 100%;
max-width: 53.1em;
background-color: #ffffff;
border-radius: 1.2em;
box-shadow: 10px 0 50px rgba(0, 0, 0, 0.5);
}

.card .inner_part {
display: flex;
align-items: center;
justify-content: center;
padding: 0 2em;
height: 21em;
position: absolute;
}

#slideImg:checked ~ .inner_part {
padding: 0;
transition: .1s ease-in;
}

.inner_part .img {
height: 16.2em;
width: 16.2em;
overflow: hidden;
flex-shrink: 0;
border-radius: 1.25em;
box-shadow: 0 0.6em 3.1em rgba(0,0,0,0.2);
}

#slideImg:checked ~ .inner_part .img {
height: 21.8em;
width: 53.2em;
z-index: 99;
transition: .3s .2s ease-in;
}

.img img {
height: 100%;
width: 100%;
cursor: pointer;
opacity: 0;
transition: .6s;
}

#slide_1:checked ~ .inner_part .img_1,
#slide_2:checked ~ .inner_part .img_2,
#slide_3:checked ~ .inner_part .img_3,
#slide_4:checked ~ .inner_part .img_4{
opacity: 1;
transition-delay: .2s;
}

.content {
padding: 0 20px 0 35px;
width: 33em;
margin-left:3.1em;
opacity: 0;
transition: .6s; 
}

#slideImg:checked ~ .inner_part .content {
display: none;
}

#slide_1:checked ~ .inner_part .content_1,
#slide_2:checked ~ .inner_part .content_2,
#slide_3:checked ~ .inner_part .content_3,
#slide_4:checked ~ .inner_part .content_4{
opacity: 1;
margin-left: 0;
z-index: 100;
transition-delay: .3s;
}

.content .title {
font-size: 1.7em;
font-weight: 700;
color: #0d0925;
margin: 0 0 1.2em 0;
}

.content .text {
font-size: 1.2em;
color: #4e4a67;
margin: 0 auto 1.2em auto;
line-height: 1.3em;
text-align: justify;
}

.content button {
padding: 0.9em 1.2em;
border: none;
font-size: 0.9em;
color: #fff0e6;
font-weight: 600;
letter-spacing: 1px;
border-radius: 3em;
cursor: pointer;
outline: none;
background: #000000;
float: right;
font-family: 'Patrick Hand', cursive;
}

.content button:hover {
background: #cecece;
color: #000000;
}

.slider {
position: absolute;
bottom: 1.5em;
left: 55%;
transform: translateX(-50%);
z-index: 1;
}

#slideImg:checked ~ .slider {
display: none;
}

.slider .slide {
position: relative;
height: 0.6em;
width: 3.1em;
background: #d9d9d9;
border-radius:0.3em;
display: inline-flex;
margin: 0 0.1em;
cursor: pointer;
}


.slider .slide:before {
position: absolute;
content: '';
top: 0;
left: 0;
height: 100%;
width: -100%;
background: #000000;;
border-radius: 10px;
transform: scaleX(0);
transition: transform .6s;
transform-origin: left;
}

#slide_1:checked ~ .slider .slide_1:before,
#slide_2:checked ~ .slider .slide_2:before,
#slide_3:checked ~ .slider .slide_3:before,
#slide_4:checked ~ .slider .slide_4:before {
transform: scaleX(1);
width: 100%;
}

input {
display: none;
}

/*FOOTER OF EVERY PAGE*/

footer#footer {width: 100% !important;padding:2em 10em;background-color: black; height: 30vh;display: flex;flex-direction: column;align-items: center;justify-content: space-around;}
div#links{ color: white;   margin-bottom: 0.7%;}
div#links>a:not(:last-child)::after{content: '';display: inline-block;margin: 0 10px -2px;width: 1px;height: 14px;background: #ccc;} 
div#links>a{display: inline-block; margin: 0;font-size: 1.2em;}
footer>a{width: fit-content;}
footer a:hover{text-decoration: underline;}
footer div#flex{display: flex;justify-content: space-between; width: -webkit-fill-available;}
footer span{color: white;}
footer a{color:white;}



/*UCD PAGE*/
button{background: none;border: none;cursor: pointer;outline: inherit;}
.flip-cards-back a{color: white; }
.flip-cards-back a:hover{text-decoration: underline;}
/*back arrow*/
.back{position: absolute;top:0; left:1em;color: white;font-size: 4em;}

/*HEXAGONS*/
.hex img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}
.hex img#user{object-fit: scale-down !important;}

.hexagon-gallery {
  margin: auto;
  margin-top: 4em;
  max-width:59vw;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: 25vh;
  grid-gap: 2em;

}

.hex {
  display: flex;
  position: relative;
  width: auto;
  height: 35vh;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

.hex:first-child {
  grid-row-start: 1;
  grid-column: 2 / span 2;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.hex:nth-child(2) {
  grid-row-start: 1;
  grid-column: 4 / span 2;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.hex:nth-child(3) {
  grid-row-start: 2;
  grid-column: 1 / span 2;
}

.hex:nth-child(4) {
  grid-row-start: 2;
  grid-column: 3 / span 2;
  background-color: white;
}

.hex:nth-child(5) {
  grid-row-start: 2;
  grid-column: 5 / span 2;
}

.hex:nth-child(6) {
  grid-row-start: 3;
  grid-column: 2 / span 2;
}

.hex:nth-child(7) {
  grid-row-start: 3;
  grid-column: 4 / span 2;
}

.hex:nth-child(8) {
  grid-row-start: 3;
  grid-column: 4 / span 2;
}

/*FLIPPING OF THE HEXAGON DIVS*/

.flip-cards-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-cards:hover .flip-cards-inner {
  transform: rotateY(180deg);
}

.flip-cards-front, .flip-cards-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-cards-front {
  background-color: #bbb;
  color: black;
}

.flip-cards-back {
  background-color: #2980b9;
  color: white;
  transform: rotateY(180deg);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}


/* GROUP PROJECT PAGE*/
h1{color:white;text-align: center; font-size: 2.5em;}
section.links{display: grid; grid-template-columns: repeat(4,1fr); grid-gap:2em; justify-items: center;margin-top: 4em;margin-bottom: 4em;    align-items: center;}
section.links a{font-size: 1.2em;line-height: 1.5em;}
section.links img{width: 20vw;height: auto;}
section.links img:hover{cursor: pointer;background-color:rgba(192,192,192,0.3);}
.right{ margin-left: 50%;}




/* ALL MODALS styling */
.modal {
position: fixed;
left: 0;
top: 0;
width: 100%;
height: 100%;
background-color: rgba(0, 0, 0, 0.5);
opacity: 0;
visibility: hidden;
transform: scale(1.1);
transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
z-index: 2;

}
.modal-content {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
background-color: white;
padding: 1rem 1.5rem;
width: 40rem;
border-radius: 0.5rem;
}
.modal-content h3{
padding: 3%; 
display: block;
font-weight: 400;
}


.modal-content a{color:grey;}
.close-button {
float: right;
width: 1.5rem;
margin-top: auto;
margin-bottom: auto;
font-size: 2rem;
text-align: center;
cursor: pointer;
border-radius: 0.25rem;

}

.close-button:hover {
background-color:#c9c7c7;
}
.close-button.opt:hover {
background-color:white;
}
.show-modal {
opacity: 1;
visibility: visible;
transform: scale(1.0);
transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}
.stopScroll{overflow: hidden;}


/*MEDIA PAGE*/
.photogrid img{transition: transform .2s; /* Animation */}
.photogrid img:hover{transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */}
.photogrid h2{display: block;}
.photogrid svg{position:absolute;z-index: 1;}
svg#arrow1{width: 1.8em; margin-top: -1.2em;margin-left: 0.5em;}
svg#arrow2{width: 0.8em; margin-top:0.7em;margin-left: -0.8em;}
svg#arrow3{width: 1.2em; margin-top:0.7em;margin-left: 0.3em;}
svg#arrow4{width: 1em; margin-top:-1.8em;margin-left: -0.8em;}
.row{display: flex;
flex-wrap: wrap;
padding: 0 4px;}
.links img:hover{transform: scale(1.1);}

/* Create four equal columns that sits next to each other */
.column {
flex: 20%;
max-width: 25%;
padding: 0 6px;
}

.column img {
margin-top: 1em;
vertical-align: middle;
width: 100%;
}
.space{
height: fit-content;
text-align: center;
}
h2{
color:white;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
.column {
  flex: 50%;
  max-width: 50%;
}
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
.column {
  flex: 100%;
  max-width: 100%;
}
}

/*FED PAGE*/
section.folders{display: grid; grid-template-columns: repeat(4,1fr); grid-gap:2em; justify-items: center;margin-top: 4em;margin-bottom: 4em;    align-items: center;}
section.folders img{width: 12vw;height: auto;}
section.folders img:hover{cursor: pointer;background-color:rgba(192,192,192,0.3);}