<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="style.css">
	<title></title>
</head>
<body>
<header>
	<nav>
		<p>Lorem Ipsum</p>
	  	<div>
		  	<p>Lorem </p>
		  	<p>Lorem </p>
		  	<p>Lorem </p>
		</div>
	</nav>
</header>
<main>
	<section class="layout">
	  <div class="span1">
	  	<div class="text" id="one">
	  		<h2>Lorem Ipsum</h2><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	  		tempor incididunt ut labore et </p>
		  <div id="buttons">
			<p class="button">See more</p><p class="button">See more</p>
		  </div>
		</div>
	  </div>
	  <div class="span2"></div>
	  <div class="span3"></div>
	  <div class="span4">
	  	<div class="text" id="two">
	  		<h2>Lorem Ipsum</h2><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et </p><p class="button">See more</p></div>
	  	</div>
	  <div class="span5"></div>
	  <div class="span6" >
	  	<div class="text" id="three">
	  		<h2>Lorem Ipsum</h2><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	  		</p><h2>Lorem Ipsum</h2><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,quis nostrud exercitation ullamco.</p>
	  	</div>
	  </div>
	  <div class="span7">
	  	<div class="text">
	  		<h2>Lorem Ipsum</h2><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</p><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</p>
	  		<p class="button">See more</p>	
  		</div>
  		<div class="text">
	  		<h2>Lorem Ipsum</h2><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</p><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</p>
	  		<p class="button">See more</p>	
  		</div>
  		<div class="text">
	  		<h2>Lorem Ipsum</h2><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</p><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</p>
	  		<p class="button">See more</p>	
  		</div>
	  </div>
	   <div class="span8">
	  	<div class="text">
	  		<h2>Lorem Ipsum</h2><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et </p><p class="button">See more</p></div>
	  	</div>
	  </div>
	  <div class="span9"></div>
	  <div class="span10"></div>
	  <div class="span11"></div>
	  <div class="span12"></div>
	</section>
</main>

</body>
</html>