body{background-color: #CAD593;margin: 2em 2em;}
.layout {
  display: grid;
  grid:
    "span1 span1 span1 span1 span2 span2 span2 span2 span2 span2 span2 span2" 1fr
    "span3 span3 span3 span3 span3 span3 span3 span3 span3 span3 span3 span3" 1fr
    "span4 span4 span4 span4 span4 span4 span4 span4 span4 span4 span4 span4" 1fr
    "span5 span5 span5 span5 span5 span5 span6 span6 span6 span6 span6 span6" 1fr
    "span7 span7 span7 span7 span7 span7 span7 span7 span7 span7 span7 span7" 1fr
    "span8 span8 span8 span8 span8 span8 span8 span8 span8 span8 span8 span8" 1fr
    "span9 span9 span9 span10 span10 span10 span11 span11 span11 span12 span12 span12" 1fr
/ 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 8px;
    grid-template-rows: 0.1fr 1fr 0.3fr 0.6fr 0.5fr 0.5fr 0.7fr;
}

nav{display: flex;justify-content: space-between;}
nav p{display: inline-block;color:#47551e;}
img{width: 100%;}
.span1 { grid-area: span1;height: 50vh;text-align: center;background-color: #9AB54A;}
div.text {color: #CAD593;text-align: center;}
div#buttons p{display: inline-block;margin-left:1.5em;margin-right: 0.8em;}
div#one{padding: 7em 4em;color:#47551e;}
div#two{padding: 4em 18em;}
div#three{padding: 4em 7em;color:#47551e;}
p.button{color:#CAD593; border:1.5px solid #CAD593; padding: 0.3em 0.6em;width: fit-content;margin-left: auto;margin-right: auto;}
p.button:hover{background-color:#CAD593;border:1.5px solid #7C9337;color:#7C9337; cursor:pointer; }
.span2 { grid-area: span2;height: 50vh;background-image: url("img/green.jpg");background-position: center; background-size: cover;} 
.span2:hover{transform: rotate3d(0, 0, 1, 8deg);}
.span3 { grid-area: span3;height: 60vh;background-image: url("img/det.jpg");background-position: center; background-size: cover;}
.span4 { grid-area: span4;height: 35vh;background-color: #7C9337;}
.span5 { grid-area: span5;height: 58vh;background-image: url("img/grass.jpg");background-position: center; background-size: cover;}
.span5:hover{transform: rotate3d(0, 0, 1, 8deg);}
.span6 { grid-area: span6; height: 60vh;background-color: #9AB54A;}
.span7 { grid-area: span7; display:flex; height: 60vh;background-color: #7C9337;}
.span7>div{padding-top: 6%;margin-left: 4em;}
.span7>div:last-child{margin-right:4em;}
.span8 { grid-area: span8; height: 35vh;background-color: #9AB54A;}
.span8>div.text{color:#47551e;padding: 4em 18em;}
.span9{ grid-area: span9;height: 40vh;background-image: url("img/flower.jpg");background-position: center; background-size: cover; }
.span9:hover{transform: rotate3d(0, 0, 1, 15deg);}
.span10{ grid-area: span10;height: 40vh;background-image: url("img/flower2.jpg");background-position: center; background-size: cover; }
.span10:hover{transform: rotate3d(0, 0, 1, -15deg);}
.span11{ grid-area: span11;height: 40vh;background-image: url("img/flower3.jpg");background-position: center; background-size: cover; }
.span11:hover{transform: rotate3d(0, 0, 1, 15deg);}
.span12{ grid-area: span12;height: 40vh; background-image: url("img/flower4.jpg");background-position: center; background-size: cover;}
.span12:hover{transform: rotate3d(0, 0, 1, -15deg);}
